body {
    background: linear-gradient(to right, #6bd0cb, #9ca3a5); /* Farbverlauf von links nach rechts */
    /* Alternative: background: linear-gradient(135deg, #ff5f6d, #ffc371); für eine diagonale Richtung */
}


.leiste { 
    width: 100%;
    height: 6.5%;
    background-color: black;
    text-align: left;
    float: inline-start;
    margin: 0;
    padding: 0;



}

.button{
    background-color: aqua;
    height: 100%;
    padding: 10px;

}
.button:hover {
    background-color: lightblue;
}





.leftbox {
    width: 40%;
    height: 100%;


}

.rightbox {
    width: 60%;
    height: 100%;

}



.leftText {
    
}